<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="InarAcademy.E2Eproject.Listeners" />
	</listeners>
	<test thread-count="5" name="Landing to Login page and login">
		<classes>
			<class name="InarAcademy.E2Eproject.HomePage" />
		</classes>
	</test>
	<test thread-count="5" name="Validating Title">
		<classes>
			<class name="InarAcademy.E2Eproject.TestTitle" />
		</classes>
	</test>
	<test thread-count="5" name="Checking if NavigatorBar displayed">
		<classes>
			<class name="InarAcademy.E2Eproject.NavigatorBarIsDisplayed" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->  